* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  background-color: rgb(2, 11, 42);
  height: 100vh;
}

.containerContact {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.containerContact div {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 50px;
  color: whitesmoke;
}

.link {
  color: whitesmoke;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

