* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sectionTecs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerBtnsTecs {
  width: 30vw;
  display: flex;
  margin: 0 auto;
}

.btnTec {
  color: whitesmoke;
  border-radius: 0;
  border-bottom: 4px solid gray;
}

.btnTecActive {
  border-bottom: 4px solid red;
  border-radius: 5px;
  color: whitesmoke;
}

.btnTec:hover, .btnTecActive:hover {
  cursor: pointer;
  background: none;
  border-radius: 5px;
}

.btnTecActive:hover {
  cursor: auto;
  background: none;
}

.containerTecs {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  margin: 0 auto;
  padding: 1%;
  background-color: rgb(3, 3, 148);
}

@keyframes fadein {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

.containerTecs div {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  align-items: center;
  animation: fadein 1s;
}

.containerTecs img {
  height: 80px;
  margin: 5%;
}

@media screen and (max-width: 575px) {
  .headerHome > nav {
    width: 100vw;
    padding: 5%;
    align-items: center;
    justify-content: space-around;
  }

  .containerBtnsTecs {
    width: 70vw;
  }

  .containerTecs {
    width: 95vw;
  }
}